access_keys = {
  tf_cloud = ""
  aws      = {
    "develop" = {
      "access" = ""
      "secret" = ""
    }
    "staging" = {
      "access" = ""
      "secret" = ""
    }
    "main"    = {
      "access" = ""
      "secret" = ""
    }
  }
}
# Pass to a post-deployment process to create CDN invalidation.
cf_distribution = {
  zbmowrey = {
    develop = ""
    staging = ""
    main    = ""
  }
}