access_keys = {
  tf_cloud = ""
  aws      = {
    "develop" = {
      "access" = ""
      "secret" = ""
    }
    "staging" = {
      "access" = ""
      "secret" = ""
    }
    "main"    = {
      "access" = ""
      "secret" = ""
    }
  }
}

# After connecting github oauth, edit the VCS connection and get the ID from the URL. Then add ID values here.
oauth_clients = {
  zbmowrey      = "oc-"
  tomatowarning = "oc-"
  cloud-admin    = "oc-"
}

# Pass to a post-deployment process to create CDN invalidation.
cf_distribution = {
  zbmowrey = {
    develop = ""
    staging = ""
    main    = ""
  }
}
aws_root_key    = ""
aws_root_secret = ""


